{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
{% endblock %}

{% block content %}
<section class="signup-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <div class="card signup-card">
          <div class="card-body signup-card-body">
            <h2 class="text-center text-secondary mb-4">Sign Up</h2>
            <form method="post" action="{% url 'signup' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="iAgree" id="iAgree" required>
                <label class="form-check-label text-secondary" for="iAgree">I agree to the terms and conditions</label>
              </div>
              <div class="d-grid mb-3">
                <button class="btn btn-primary btn-lg" style="color: white" type="submit">Sign Up</button>
              </div>
              <p class="text-secondary text-center" style="color: #4f4f4f">Already have an account? <a href="{% url 'login' %}" class="link-primary">Log in</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
