{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
{% endblock %}

{% block content %}
<section class="login-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card login-card">
          <div class="card-body login-card-body">
            <div class="text-center mb-3">
            {% load static %}
            <img class="login-logo" src="{% static 'images/logo.png' %}" alt="ShipHappens Logo">
            </div>
            <h2 class="text-center text-secondary mb-4">Sign in to your account</h2>
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe">
                <label class="form-check-label text-secondary" for="rememberMe">Keep me logged in</label>
              </div>
              <div class="d-grid mb-3">
                <button class="btn btn-primary btn-lg" style="color: white" type="submit">Log in</button>
              </div>
              <p class="text-secondary text-center">Don't have an account? <a href="{% url 'signup' %}" class="link-primary">Sign up</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
