*{
  margin: 0;
  padding: 0;
}

/*Website Background*/
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(75deg, #0f1219, #002244);
  background-size: 300% 300%;
  animation: color 10s ease-in-out infinite;
}
@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
nav{
  background-color: #002244;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: white;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}

/*STOCK LINES*/
.footer {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 5%;
  background-color: #444; /* Optional: Add a background color to the footer */
  display: flex;
  justify-content: center; /* Center-align text horizontally */
  align-items: center;
}
.copyright {
  font-family: Futura, sans-serif;
  font-size: 10px;
  color: gray;
}
