@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=Swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  height: 100vh;
  width: 100%;
  background-image: url("../images/wave.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  transition: width 0.3s ease;
}

.sidebar:hover{
  width: 300px;
}

.sidebar .logo{
  display: flex;
  align-items: center;
  padding: 25px 10px 15px;
}

.logo{
  width: 100%;
}

.logo h2{
  font-weight: 600;
  font-size: 1.15rem;
  margin-left: 15px;
}

.sidebar:hover .logo h2{
  display: block;
}

.sidebar .links{
  list-style: none;
  margin-top: 20px;
}

.sidebar .links h4{
  color: #222;
  font-weight: 500;
  margin-bottom: 10px;
  display: none;
}

.sidebar:hover .links h4{
  display: block;
}

.links li{
  display: flex;
  align-items: center;
}

.links li:hover{
  border-radius: 3px;
  cursor: pointer;
  background: lightskyblue;
}

.links li span{
  padding: 12px 10px;
}

.links li a{
  color: #000;
  padding: 10px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  display: none;
}

.sidebar:hover .links li a{
  display: block;
}

/* Home page picture pointer */
.sale_special{
  width: 50%;
  height: auto;
  cursor: pointer; /*Changes the cursor to a pointer when hovering over the image */
}


.footer{
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center; /* Center-align text horizontally */
  align-items: center;
}

.copyright {
  font-family: Futura, sans-serif;
  font-size: 10px;
  color: black;
}

/* Login and signup page styles */
.login-container,
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background-color: rgba(255, 253, 253, 0.55);
  border-radius: 12px;
  border: 2px solid #d0d0d0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 150%;
  max-width: 400px;
  padding: 45px;
}

.signup-card {
  background-color: rgba(255, 253, 253, 0.55);
  border-radius: 12px;
  border: 2px solid #d0d0d0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  padding: 45px;
}

.login-card-body,
.signup-card-body {
  padding: 20px;
}

.login-card img.login-logo {
  width: 250px;
  margin-bottom: 10px;
}

.login-card h2 {
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: #333;
}

.signup-card h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.login-card .form-check-label,
.signup-card .form-check-label {
  font-size: 14px;
  margin-left: 4px;
  color: #555;
}

.login-card .form-control,
.signup-card .form-control {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
}

.login-card .btn-primary,
.signup-card .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
}

.login-card .btn-primary:hover,
.signup-card .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.login-card .link-primary,
.signup-card .link-primary {
  color: #007bff;
  font-size: 14px;
}

.login-card .form-check-label,
.login-card p.text-secondary {
  color: #555;
}
