@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=Swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  height: 100vh;
  width: 100%;
  background-image: url("../images/wave.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  transition: width 0.3s ease;
}

.sidebar:hover{
  width: 300px;
}

.sidebar .logo{
  display: flex;
  align-items: center;
  padding: 25px 10px 15px;
}

.logo{
  width: 100%;
}

.logo h2{
  font-weight: 600;
  font-size: 1.15rem;
  margin-left: 15px;
}

.sidebar:hover .logo h2{
  display: block;
}

.sidebar .links{
  list-style: none;
  margin-top: 20px;
}

.sidebar .links h4{
  color: #222;
  font-weight: 500;
  margin-bottom: 10px;
  display: none;
}

.sidebar:hover .links h4{
  display: block;
}

.links li{
  display: flex;
  align-items: center;
}

.links li:hover{
  border-radius: 3px;
  cursor: pointer;
  background: lightskyblue;
}

.links li span{
  padding: 12px 10px;
}

.links li a{
  color: #000;
  padding: 10px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  display: none;
}

.sidebar:hover .links li a{
  display: block;
}

.footer{
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center; /* Center-align text horizontally */
  align-items: center;
}

.copyright {
  font-family: Futura, sans-serif;
  font-size: 10px;
  color: black;
}
