{% extends 'base.html' %}

{% block content %}
<div>
    <h4><b>The Story of ShipHappens</b></h4>
    <p>In the spring of 2024, four passionate maritime enthusiasts, Kristiane Karine Kand, Indrek Maamägi, Andrus Raudsepp, and Mihkel Pisa, came together to realize a shared dream. They envisioned a company that would not only sell boats, yachts, and ships but also embody the luxury and freedom that the sea offers. This vision birthed ShipHappens.
    </p>
    <h5><b>Launch and Growth</b></h5>
    <p>From its inception, ShipHappens was not just about selling boats; it was about creating an experience. The founders wanted their customers to feel the thrill of the sea, the luxury of a well-crafted yacht, and the trust in a reliable ship. They built a showroom that was more like a gallery, where each boat was a masterpiece.
    </p>
    <p>In its first year, ShipHappens saw tremendous growth. Their commitment to quality and customer satisfaction quickly established them as a trusted name in the maritime industry. Word spread, and soon, ShipHappens was attracting clients from all over the world, each looking to own a piece of the luxury that only ShipHappens could offer.
    </p>
    <h5>Beyond Sales</h5>
    <p>ShipHappens wasn't just a business; it was a community. The founders hosted events, sailing workshops, and luxury sea tours. They partnered with yacht clubs and sailing schools, creating a network of maritime enthusiasts who shared their passion.
    </p>
</div>
{% endblock %}