{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title style="color: white">ShipHappens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <div class="mt-5 p-4 bg-dark text-white text-center footer">
      <p style="color: white" class="copyright">Copyright © 2024 ShipHappens. All rights reserved.</p>
    </div>

</body>
</html>
