{% extends 'base.html' %}

{% block content %}

<body>
    <div class="container">
        <header>
            <h4 style="color: white"><b>Contact Us</b></h4>
            <p style="color: white">At ShipHappens, we are dedicated to providing exceptional service and support to all our customers.<br>
                Whether you have a question about our boats, need assistance with a purchase,<br>
                or just want to share your sea stories, we are here for you.</p>
        </header>

        <section>
            <h5 style="color: white"><b>Get in Touch</b></h5>
            <p style="color: white"><strong>Address:</strong><br>
            ShipHappens Headquarters<br>
            123 Ocean Drive, Marina Bay<br>
            Nautical City</p>

            <p style="color: white"><strong>Phone:</strong><br>
            +372 123-4567</p>

            <p style="color: white"><strong>Email:</strong><br>
            <a href="mailto:info@shiphappens.com">info@shiphappens.com</a></p>

            <h5 style="color: white"><b>Office Hours:</b></h5>
            <p style="color: white">Monday to Friday: 9:00 - 18:00<br>
            Saturday: 10:00 - 16:00<br>
            Sunday: Closed</p>
        </section>
    </div>
</body>

{% endblock %}