{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container">
        <header>
            <h4><b>Contact Us</b></h4>
            <p>At ShipHappens, we are dedicated to providing exceptional service and support to all our customers. Whether you have a question about our boats, need assistance with a purchase, or just want to share your sea stories, we are here for you.</p>
        </header>

        <section>
            <h5><b>Get in Touch</b></h5>
            <p><strong>Address:</strong><br>
            ShipHappens Headquarters<br>
            123 Ocean Drive, Marina Bay<br>
            Nautical City</p>

            <p><strong>Phone:</strong><br>
            +372 123-4567</p>

            <p><strong>Email:</strong><br>
            <a href="mailto:info@shiphappens.com">info@shiphappens.com</a></p>

            <h5><b>Office Hours:</b></h5>
            <p>Monday to Friday: 9:00 - 18:00<br>
            Saturday: 10:00 - 16:00<br>
            Sunday: Closed</p>
        </section>
    </div>
</body>
</html>

{% endblock %}
