
<body>
    <nav>
        <a href="">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="#">Login</a>
        <a href="#">Cart</a>
        <div id="marker"></div>
    </nav>
    <script>
        let marker = document.querySelector('#marker');
        let item = document.querySelectorAll('nav a');

        function indicator(e){
            marker.style.left = e.offsetLeft+'px';
            marker.style.width = e.offsetWidth+'px';
        }

        item.forEach(link => {
            link.addEventListener('click', (e) => {
                indicator(e.target);
            })
        })
    </script>
</body>

