<body>
    <aside class="sidebar">
            {% load static %}
            <img class="logo" src="{% static "images/logo.png" %}" alt="logo">
            <h2 style="color:black">Ship Happens</h2>
                <ul class="links" style="color:black">
{#                    https://fonts.google.com/icons?selected=Material+Symbols+Outlined:helicopter:#}
{#                    FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%23e8eaed#}

                    <li><h4>Main Menu</h4></li>

                    <li>
                        <span class="material-symbols-outlined">dashboard</span>
                        <a href="{% url 'home' %}">Ship Happens</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">perm_contact_calendar</span>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">contacts</span>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>

                    <li>
                        <h4>Products</h4>
                    </li>

                    <li>
                        <span class="material-symbols-outlined">directions_boat</span>
                        <a href="{% url 'mootor' %}">Motorboats</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">sailing</span>
                        <a href="{% url 'purjekad' %}">Yachts</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">snowmobile</span>
                        <a href="{% url 'jetid' %}">Jets</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">health_and_safety</span>
                        <a href="{% url 'paaste' %}">Safety</a>
                    </li>

                    <li>
                        <h4>Account</h4>
                    </li>

                    {% if user.is_authenticated %}
                        <li>
                            <span class="material-symbols-outlined">logout</span>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <span class="material-symbols-outlined">login</span>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}

                    <li>
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <a href="#">Cart</a>
                    </li>
                </ul>

    </aside>
</body>