<body>
    <nav>
        <ul class="sidebar">
            <li><a href="#">Ship Happens</a></li>
            <li><a href="#">Mootorpaadid</a></li>
            <li><a href="#">Purjekad</a></li>
            <li><a href="#">Jetid</a></li>
            <li><a href="#">Päästevarustus</a></li>
        </ul>
        <ul class="navbar">
            <li><a href="#">User</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
    </nav>
</body>