<body>
    <nav>
        <ul class="sidebar">
            <li><a href="#">Ship Happens</a></li>
            <li><a href="#">Mootorpaadid</a></li>
            <li><a href="#">Purjekad</a></li>
            <li><a href="#">Jetid</a></li>
            <li><a href="#">Päästevarustus</a></li>
        </ul>
        <ul>
            <li><a href="#">Ship Happens</a></li>
            <li><a href="#">Mootorpaadid</a></li>
            <li><a href="#">Purjekad</a></li>
            <li><a href="#">Jetid</a></li>
            <li><a href="#">Päästevarustus</a></li>
        </ul>
    </nav>
</body>