{% extends 'base.html' %}

{% block content %}

<body>
    <div>
        <header>
            <h4><b>Contact Us</b></h4>
            <p>At ShipHappens, we are dedicated to providing exceptional<br>
                service and support to all our customers.<br>
                Whether you have a question about our boats, need assistance with a purchase,<br>
                or just want to share your sea stories, we are here for you.</p>
            <br>
        </header>

        <section>
            <h4><b>Get in Touch</b></h4>
            <p><strong>Address:</strong><br>
            ShipHappens Headquarters<br>
            123 Ocean Drive, Marina Bay<br>
            Nautical City</p>
            <br>

            <p><strong>Phone:</strong><br>
            +372 123-4567</p>
            <br>

            <p><strong>Email:</strong><br>
            <a href="mailto:info@shiphappens.com">info@shiphappens.com</a></p>
            <br>

            <h4><b>Office Hours:</b></h4>
            <p style="color: black">Monday to Friday: 9:00 - 18:00<br>
            Saturday: 10:00 - 16:00<br>
            Sunday: Closed</p>
            <br>
        </section>
    </div>
</body>

{% endblock %}