<body>
    <aside class="sidebar">
            {% load static %}
            <img class="logo" src="{% static "images/logo.png" %}" alt="logo">
            <h2 style="color:black">Ship Happens</h2>
                <ul class="links" style="color:black">

                    <li><h4>Main Menu</h4></li>

                    <li>
                        <span class="material-symbols-outlined">dashboard</span>
                        <a href="{% url 'home' %}">Ship Happens</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">perm_contact_calendar</span>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">contacts</span>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>

                    <li>
                        <h4>Products</h4>
                    </li>

                    <li>
                        <span class="material-symbols-outlined">directions_boat</span>
                        <a href="{% url 'category' 'Motorboats' %}">Motorboats</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">sailing</span>
                        <a href="{% url 'category' 'Yachts' %}">Yachts</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">assistant_navigation</span>
                        <a href="{% url 'category' 'Accessories' %}">Accessories</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">health_and_safety</span>
                        <a href="{% url 'category' 'Safety Equipment' %}">Safety</a>
                    </li>

                    <li>
                        <h4>Account</h4>
                    </li>

                    {% if user.is_authenticated %}
                        <li>
                            <span class="material-symbols-outlined">id_card</span>
                            <a href="">{{ user.username }}</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined">logout</span>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li>
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <a href="{% url 'cart' %}">Cart</a>
                    </li>
                    {% else %}
                        <li>
                            <span class="material-symbols-outlined">id_card</span>
                            <a href="{% url 'login' %}">Account Info</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined">login</span>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <a href="{% url 'login' %}">Cart</a>
                    </li>
                    {% endif %}
                </ul>
    </aside>
</body>